AppSettings__DefaultConnection=""
AppSettings__JwtSettings__SecurityKey=""
AppSettings__MailSettings__Password=""
AppSettings__MailSettings__SenderEmail=""
AppSettings__BlobConnectionString=""
AppSettings__Google__ClientId=""
AppSettings__Google__ClientSecret=""